<ion-content class="ion-padding" text-center>
  <div class="register-container">
    <h2>Registar-se</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">E-mail:</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <ion-text color="danger">E-mail é obrigatório</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha:</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <ion-text color="danger">Senha é obrigatória</ion-text>
      </ion-item>
      <ion-button type="submit" [disabled]="registerForm.invalid" expand="block">Registrar-se</ion-button>
      <ion-button type="button" fill="clear" (click)="navBack()" expand="block">Voltar</ion-button>

    </form>
  </div>
</ion-content>